/* Inspiration for infinite marquee: https://codepen.io/nickcil/pen/BygPMY */

.reviews-marquee {
  position: relative;
}

.reviews-marquee-inner {
  display: flex;
  position: absolute;
  left: 0;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -50%;
  }
}
