<div id="jobs-page">
  <div id="jobs-intro">
    <img
      src="https://bodos-assets.s3.amazonaws.com/images/line-waiting.jpeg"
      alt=""
    />
    <div class="img-overlay">
      <div>We're Hiring!</div>
    </div>
  </div>
  <div id="jobs-title">
    <div>Current Jobs</div>
    <hr />
  </div>
  <div>
    <div id="jobs-list" *ngIf="JOBS.length > 0; else no_jobs">
      <a class="job-link" *ngFor="let job of JOBS" href="">{{ job }}</a>
    </div>

    <ng-template #no_jobs>
      <div id="jobs-list">No jobs available, check back later!</div>
    </ng-template>
  </div>
</div>
