#jobs-intro {
  display: flex;
  justify-content: center;
  position: relative;
  clip-path: polygon(100% 90%, 100% 0, 0 0, 0 100%);
}

#jobs-intro > img {
  width: 100%;
}

#jobs-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  font-size: calc(24px + 2vw);
}

#jobs-title hr {
  width: 20%;
}

.img-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.img-overlay > div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: -5px 5px 5px black;
  color: white;
  font-size: calc(24px + 8vw);
}

#jobs-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.5;
  margin-bottom: 25px;
  font-size: calc(16px + 1vw);
}

.job-link {
  width: 25%;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 799px) {
  .job-link {
    width: 50%;
  }
}
