<div class="jobs-page">
  <div>
    <div class="jobs-title-section">
      <h1>Current Jobs</h1>
      <hr />
    </div>
  </div>
  <div class="location-section">
    <div *ngFor="let location of LOCATIONS" style="height: 100%">
      <div class="jobs-location-wrapper">
        <img
          src="{{ location.img }}"
          alt="A photo of the {{ location.name }} location"
          class="location-img"
        />
        <h2 style="margin-top: 15px">{{ location.name }}</h2>
        <hr />
        <ul class="jobs-list">
          <li>Baker Maker</li>
          <li>Dishwasher</li>
          <li>Evening Cook</li>
        </ul>
      </div>
    </div>
  </div>
</div>
