<div class="jobs-page">
  <div>
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
      "
    >
      <h1>Current Jobs</h1>
      <hr style="width: 25%; height: 5px; background-color: black" />
    </div>
  </div>
  <div style="display: grid; grid-template-columns: 1fr 1fr 1fr">
    <div class="jobs-location-wrapper">
      <h2>Preston</h2>
      <hr style="width: 25%; height: 5px; background-color: black" />
      <ul style="list-style-type: disc">
        <li>Baker Maker</li>
        <li>Dishwasher</li>
        <li>Evening Cook</li>
      </ul>
    </div>
    <div class="jobs-location-wrapper">
      <h2>Emmet</h2>
      <hr style="width: 25%; height: 5px; background-color: black" />
      <ul style="list-style-type: disc">
        <li>Baker Maker</li>
        <li>Dishwasher</li>
        <li>Evening Cook</li>
      </ul>
    </div>
    <div class="jobs-location-wrapper">
      <h2>UVA Corner</h2>
      <hr style="width: 25%; height: 5px; background-color: black" />
      <ul style="list-style-type: disc">
        <li>Baker Maker</li>
        <li>Dishwasher</li>
        <li>Evening Cook</li>
      </ul>
    </div>
  </div>
</div>
