<div class="menu-page">
  <div>
    <div class="menu-wrapper">
      <div *ngFor="let idx of columns" class="menu-column">
        <div
          *ngFor="let section of MENU | keyvalue: unsorted; let i = index"
          class="menu-section"
        >
          <div *ngIf="i % 2 == idx">
            <h1 class="section-title">{{ keyMap[section.key] }}</h1>
            <ul class="menu-item-section">
              <li *ngFor="let item of section.value.items" class="menu-item">
                <div style="display: flex; justify-content: space-between">
                  <div>{{ item.name }}</div>
                  <div class="price-section">
                    <div *ngIf="item.price" class="item-price">
                      {{ resolvePrice(item.price) }}
                    </div>
                    <div *ngIf="item.sizes">
                      <div
                        *ngFor="let size of item.sizes | keyvalue: unsorted"
                        class="item-price"
                        style="min-width: 6ch"
                      >
                        {{ resolvePrice(size.value) }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item-desc" *ngIf="item.desc">{{ item.desc }}</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
