<div class="bodos-card">
  <div class="bodos-card-container">
    <div class="bodos-card-img-container">
      <img
        src="assets/location-card-images/{{ locationData.img }}"
        alt="A photo of the {{ locationData.name }} location"
      />
      <div class="bodos-card-img-overlay">
        <div>
          <h1 style="font-weight: 900">{{ locationData.name }}</h1>
        </div>
      </div>
    </div>
    <div class="bodos-card-content-container">
      <div>
        <div>
          <h4 style="font-weight: 900">{{ locationData.addr1 }}</h4>
          <h4 style="font-weight: 900">{{ locationData.addr2 }}</h4>
          <a style="text-decoration: none" href="tel:{{ locationData.phone }}">
            <h4 style="margin-top: 15px">
              <i class="fas fa-phone" style="margin-right: 5px"></i
              >{{ locationData.phone }}
            </h4>
          </a>
        </div>
        <h3 style="font-weight: 900; margin: 15px 0">HOURS</h3>
        <div style="width: 100%; display: flex; flex-direction: column">
          <div
            style="width: 100%; display: grid; grid-template-columns: 1fr 2fr"
            *ngFor="let array of locationData.hours | keyvalue"
          >
            <h4 style="text-align: right">
              {{ array.key == "MON_THRU_FRI" ? "MON-FRI" : array.key }}
            </h4>
            <h4>
              {{ array.value[0] }}<span style="font-size: 12px">AM</span> -
              {{ array.value[1] }}<span style="font-size: 12px">PM</span>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
