<div id="about-intro">
  <div id="intro-text">
    <p>Sandwiches &</p>
    <p>Salads &</p>
    <p>Freshly Baked NY Bagels.</p>
    <hr class="divider-bar" />
    <p>Locally Owned And Operated Since 1988.</p>
  </div>
  <img src="assets/drive_thru.jpeg" alt="" />
  <div
    class="divider-clip"
    style="
      background: hsl(213, 54%, 33%);
      clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
      z-index: 0;
    "
  ></div>
  <div
    class="divider-clip"
    style="
      background: hsl(213, 57%, 41%);
      clip-path: polygon(80% 0, 100% 0, 100% 100%, 60% 100%);
      z-index: 1;
    "
  ></div>
  <div
    class="divider-clip"
    style="
      background: hsl(213, 68%, 50%);
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 80% 100%);
      z-index: 2;
    "
  ></div>
</div>
<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(213, 54%, 33%);
    color: white;
  "
>
  <hr class="divider-bar" style="width: 15%; margin-right: 10px" />
  <img
    src="https://bodos-assets.s3.amazonaws.com/images/food/bagels/bagel.png"
    alt=""
    style="width: 7%; margin: 0 10px"
  />
  <hr class="divider-bar" style="width: 15%; margin-left: 10px" />
</div>
