<nav class="navbar-wrapper">
  <div class="navbar-section">
    <div style="display: flex; align-items: center; height: 100%">
      <bodos-logo [height]="80" [width]="80" fillColor="#FFFFFF"></bodos-logo>
    </div>
  </div>
  <div class="navbar-section">
    <div style="display: flex; align-items: center; height: 100%">
      <linked-btn
        classes="secondary"
        styles="font-size: 18px; border-radius: 4px"
        dest="/order"
      >
        Order Now!
      </linked-btn>
      <div><i class="fas fa-2x fa-shopping-cart nav-icon"></i></div>
      <div><i class="fas fa-2x fa-user-circle nav-icon"></i></div>
    </div>
  </div>
</nav>
