<nav (window:resize)="onResize()" class="navbar-wrapper">
  <div class="navbar-section navbar-left">
    <div>
      <bodos-logo
        style="height: 100%; display: flex; align-items: center"
        height="80%"
        width="80%"
        fillColor="#FFFFFF"
      ></bodos-logo>
    </div>
  </div>
  <div class="navbar-section navbar-middle">
    <div class="navbar-links">
      <a
        *ngFor="let link of NAVIGATION.links"
        class="navbar-link"
        [ngClass]="{ 'nav-active': link.isActive }"
        routerLink="{{ link.href }}"
      >
        <div>
          <hr class="top" />
          <div>{{ link.name }}</div>
          <hr class="btm" />
        </div>
      </a>
    </div>
  </div>
  <div class="navbar-section navbar-right">
    <div class="navbar-links">
      <a
        class="bb-btn secondary"
        style="font-size: calc(20px + 0.25vw); line-height: 1.5"
        routerLink="/order"
      >
        Order Now!
      </a>
    </div>
    <div>
      <i (click)="handleMenuClick('on')" class="fas fa-bars menu-bars"></i>
    </div>
  </div>
  <div id="navbar-overlay" class="navbar-overlay">
    <div>
      <div class="overlay-links-wrapper">
        <div>
          <div class="overlay-links">
            <a
              *ngFor="let link of NAVIGATION.links"
              class="overlay-link"
              [ngClass]="{ 'nav-active': link.isActive }"
              routerLink="{{ link.href }}"
            >
              <div>
                {{ link.name }}
              </div>
            </a>
          </div>
        </div>
      </div>
      <i (click)="handleMenuClick('off')" class="fas fa-times menu-times"></i>
    </div>
  </div>
</nav>
