<div class="reviews-card">
  <div class="reviews-top">
    <div class="reviews-img">
      <img src="{{ FOLDER_ROOT + reviewData.imgRef }}" alt="" />
    </div>
    <div class="reviews-top-right">
      <div>
        <div class="stars">
          <div
            class="{{ reviewData.firstName }}-{{ reviewData.lastName }}-star-1"
          >
            ★
          </div>
          <div
            class="{{ reviewData.firstName }}-{{ reviewData.lastName }}-star-2"
          >
            ★
          </div>
          <div
            class="{{ reviewData.firstName }}-{{ reviewData.lastName }}-star-3"
          >
            ★
          </div>
          <div
            class="{{ reviewData.firstName }}-{{ reviewData.lastName }}-star-4"
          >
            ★
          </div>
          <div
            class="{{ reviewData.firstName }}-{{ reviewData.lastName }}-star-5"
          >
            ★
          </div>
        </div>
        <div class="reviewer-details">
          <div
            style="font-size: calc(16px + 0.5vw); margin-bottom: 2px"
            class="font-semibold"
          >
            {{ reviewData.firstName }} {{ reviewData.lastName }}
          </div>
          <div style="font-size: calc(12px + 0.5vw); color: gray">
            {{ reviewData.title }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="reviews-bottom">"{{ reviewData.feedback }}"</div>
</div>
