<div class="main-section" id="landing">
  <div id="landing-container">
    <img id="landing-img" src="assets/images/bagels.png" alt="" />
  </div>
  <div id="landing-overlay">
    <b>Bagels Done Right.</b>
  </div>
</div>

<div class="main-section" id="varieties">
  <div>
    <div id="varieties-background">
      <img
        src="assets/images/Corner-Location-1.jpeg"
        alt="A photo of the Corner location"
      />
    </div>
    <div id="varieties-overlay">
      <div>Countless</div>
      <div>Varieties</div>
    </div>
    <div id="varieties-orbit-wrapper">
      <bagel-orbit
        [orbitData]="OrbitData"
        [isActive]="true"
        [bagelSize]="100"
        [sideLength]="600"
      ></bagel-orbit>
    </div>
  </div>
</div>

<div class="main-section" id="locations">
  <div id="location-title">
    <h1 style="font-size: 72px; color: white">Locations</h1>
  </div>
  <div id="location-cards">
    <location-card
      *ngFor="let location of LOCATIONS"
      [locationData]="location"
    ></location-card>
  </div>
</div>

<div class="main-section" id="cville">
  <div style="height: 100%; position: relative; overflow-x: hidden">
    <div id="cville-bg-container">
      <img id="cville-bg" src="assets/images/Sky.png" alt="" />
    </div>
    <img id="cville-tundy" src="assets/images/Tundy.png" alt="" />
    <div id="cville-bg-textbox">
      <div id="cville-bg-text">
        <div>Serving</div>
        <div>Charlottesville</div>
        <div>since 1988</div>
      </div>
      <div style="margin-top: 40px">
        <a
          class="bb-btn secondary"
          style="font-size: calc(32px + 0.25vw)"
          routerLink="/our-story"
        >
          Our Story <i class="fas fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="main-section" id="reviews">
  <div id="reviews-title">
    <h1 style="font-size: 72px; color: white">Reviews</h1>
  </div>
  <div style="display: flex; align-items: center">
    <reviews-marquee
      [reviews_list]="REVIEWS"
      [count]="review_card_count"
      [id]="1"
    ></reviews-marquee>
  </div>
</div>
