<bodos-navbar></bodos-navbar>

<div id="main-video-section">
  <div id="main-video-container">
    <video
      type="video/mp4"
      id="main-video"
      src="assets/videos/how-bagels-are-made.mp4"
      autoplay
      muted
      loop
    ></video>
  </div>
  <div id="main-video-overlay">
    <b>Bagels Done Right</b>
    <a href="#varieties"
      ><i
        class="fas fa-arrow-circle-down fa-3x down-arrow"
        style="color: white; margin-top: 20px"
      ></i>
    </a>
  </div>
</div>

<div class="main-section" id="varieties">
  <div>
    <div id="varieties-background">
      <img
        src="assets/images/Corner-Location-1.jpeg"
        alt="A photo of the Corner location"
      />
    </div>
    <div id="varieties-overlay">
      <div>Countless</div>
      <div>Varieties</div>
    </div>
    <div>
      <bagel-orbit [isActive]="true"></bagel-orbit>
    </div>
  </div>
</div>

<div class="main-section" id="locations">
  <div id="location-title">
    <h1 style="font-size: 72px; color: white">Locations</h1>
  </div>
  <div id="location-cards">
    <location-card
      *ngFor="let location of LOCATIONS"
      [locationData]="location"
    ></location-card>
  </div>
</div>

<div class="main-section" id="cville">
  <div style="height: 100%; width: 100%; position: relative">
    <div
      style="width: 100%; height: 100%; position: absolute; overflow: hidden"
    >
      <img id="cville-img" src="assets/images/Rotunda.png" alt="" />
    </div>
    <div id="cville-img-textbox">
      <div id="cville-img-text">Serving Charlottesville since 1986</div>
      <linked-btn
        classes="secondary"
        styles="font-size: 32px; border-radius: 8px; margin-top: 20px;"
        dest="/our-story"
      >
        Our Story <i class="fas fa-arrow-right"></i>
      </linked-btn>
    </div>
  </div>
</div>

<div class="main-section" id="reviews">
  <div id="reviews-title">
    <h1 style="font-size: 72px; color: white">Reviews</h1>
  </div>
  <div
    style="display: flex; align-items: center; transform: translateY(-100px)"
  >
    <reviews-marquee
      [reviews_list]="REVIEWS"
      [count]="review_card_count"
    ></reviews-marquee>
  </div>
</div>

<bodos-footer></bodos-footer>
