<footer>
  <div id="footer-links-left">
    <div class="footer-link-section">
      <a
        *ngFor="let link of NAVIGATION.links.left"
        [routerLink]="link.href"
        (click)="handleLinkClick(link.href)"
      >
        {{ link.text }}
      </a>
      <div id="copyright-left">
        <p>{{ NAVIGATION.copyright }}</p>
        <p class="site-credit">
          Site by
          <span><a href="https://www.github.com/akh4rf">Austin Houck</a></span>
        </p>
      </div>
    </div>
  </div>
  <div id="footer-logo">
    <div style="height: 100%; align-items: center">
      <bodos-logo
        [style]="NAVIGATION.logo.styles"
        [height]="NAVIGATION.logo.height"
        [fillColor]="NAVIGATION.logo.color"
        (click)="handleLinkClick('/')"
      ></bodos-logo>
    </div>
  </div>
  <div id="footer-links-right">
    <div class="footer-link-section">
      <a
        *ngFor="let link of NAVIGATION.links.right"
        [routerLink]="link.href"
        (click)="handleLinkClick(link.href)"
      >
        {{ link.text }}
      </a>
      <div id="copyright-right">
        <p>{{ NAVIGATION.copyright }}</p>
        <p class="site-credit">
          Site by
          <span><a href="https://www.github.com/akh4rf">Austin Houck</a></span>
        </p>
      </div>
    </div>
  </div>
</footer>
