<footer>
  <div id="footer-links-left">
    <div class="footer-link-section">
      <a routerLink="/order">Order Now</a>
      <a routerLink="/gift-cards">Gift Cards</a>
      <a routerLink="/merch">Merch</a>
      <p id="copyright-left">© Nearly Bros. Inc. 2021</p>
    </div>
  </div>
  <div id="footer-logo">
    <div style="height: 100%; align-items: center">
      <bodos-logo
        style="height: 300px"
        height="100%"
        fillColor="#FFFFFF"
      ></bodos-logo>
    </div>
  </div>
  <div id="footer-links-right">
    <div class="footer-link-section">
      <a routerLink="/contact-us">Contact Us</a>
      <a routerLink="/jobs">Jobs</a>
      <p id="copyright-right">© Nearly Bros. Inc. 2021</p>
    </div>
  </div>
</footer>
