/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.2;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Oswald";
}
*,
::after,
::before {
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --primary: hsl(212, 74%, 22%);
  --secondary: hsl(25, 95%, 55%);
  --tertiary: hsl(334, 37%, 41%);
  --white: hsl(0, 0%, 100%);
}

/***** FONT STYLING *****/

h1 {
  font-size: calc(36px + 0.25vw);
}

h2 {
  font-size: calc(32px + 0.25vw);
}

h3 {
  font-size: calc(28px + 0.25vw);
}

h4 {
  font-size: calc(24px + 0.25vw);
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

.font-bold {
  font-weight: 900;
}

.font-semibold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-regular {
  font-weight: 400;
}

.font-light {
  font-weight: 200;
}

.font-extralight {
  font-weight: 100;
}

@font-face {
  font-family: "Oswald";
  font-weight: 900;
  src: url("./fonts/Oswald-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "Oswald";
  font-weight: 700;
  src: url("./fonts/Oswald-SemiBold.ttf") format("opentype");
}

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  src: url("./fonts/Oswald-Medium.ttf") format("opentype");
}

@font-face {
  font-family: "Oswald";
  font-weight: 400;
  src: url("./fonts/Oswald-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Oswald";
  font-weight: 200;
  src: url("./fonts/Oswald-Light.ttf") format("opentype");
}

@font-face {
  font-family: "Oswald";
  font-weight: 100;
  src: url("./fonts/Oswald-ExtraLight.ttf") format("opentype");
}

.animation-paused {
  animation-play-state: paused !important;
}

.bb-btn {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bb-btn.primary {
  color: #fff;
  background-color: var(--primary);
}

.bb-btn.primary:hover {
  color: #fff;
  background-color: hsl(213, 32%, 45%);
}

.bb-btn.secondary {
  color: #fff;
  background-color: var(--secondary);
}

.bb-btn.secondary:hover {
  color: #fff;
  background-color: hsl(25, 75%, 45%);
}
