:host {
  display: block;
  height: calc(60px + 5vh);
  z-index: 5;
}

.navbar-wrapper {
  height: 100%;
  width: 100vw;
  display: flex;
}

.navbar-section {
  height: 100%;
  text-align: center;
  padding: 0 25px;
}

.navbar-middle {
  padding: 0;
  margin: 0 auto;
}

.navbar-section > div {
  display: flex;
  align-items: center;
  height: 100%;
}

/***********************************/
/********* Navbar Desktop **********/
/***********************************/

@media screen and (min-width: 1000px) {
  .menu-bars {
    display: none;
  }

  /***** Navigation Dropdown *****/

  .navbar-dropdown {
    display: none;
  }
}

/**********************************/
/********* Navbar Mobile **********/
/**********************************/

@media screen and (max-width: 999px) {
  .navbar-links {
    display: none !important;
  }

  /***** Menu Toggle Buttons *****/

  .menu-bars {
    display: block;
    font-size: calc(50px + 0.25vw);
    color: var(--secondary);
    margin-left: auto;
    transition: all ease 0.2s;
  }

  .menu-times {
    position: absolute;
    top: 35px;
    right: 30px;
    z-index: -1;
    font-size: calc(60px + 0.25vw);
    color: var(--secondary);
    transition: all ease 0.2s;
    opacity: 0;
  }

  .navbar-dropdown.active .menu-times {
    z-index: inherit;
    opacity: 1;
  }

  .menu-bars:hover,
  .menu-times:hover {
    color: var(--secondary--dark);
    cursor: pointer;
  }

  /***** Navigation Dropdown *****/

  .navbar-dropdown {
    position: fixed;
    width: 100vw;
    height: 100vh;
    transform: translateY(-100%);
    background: var(--primary);
    z-index: 999;
    transition: all ease 0.5s;
  }

  .navbar-dropdown > div {
    position: relative;
    height: 100%;
  }

  .navbar-dropdown.active {
    transform: translateY(0);
  }

  /***** Dropdown Links *****/

  .dropdown-links-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .dropdown-links {
    display: flex;
    flex-direction: column;
    row-gap: 2.5vh;
  }
}

@media screen and (max-width: 999px) and (min-aspect-ratio: 5/4) {
  .dropdown-links {
    flex-wrap: wrap;
    flex-direction: row;
    padding-right: 50px;
    row-gap: 5vh;
  }
}
