<nav (window:resize)="onResize()" class="navbar-wrapper" *ngIf="NAVIGATION">
  <div class="navbar-section">
    <div style="justify-content: flex-start">
      <bodos-logo
        [style]="NAVIGATION.logo.styles"
        [height]="NAVIGATION.logo.height"
        [fillColor]="NAVIGATION.logo.color"
        (click)="handleLinkClick()"
      ></bodos-logo>
    </div>
  </div>
  <div class="navbar-section navbar-middle">
    <div class="navbar-links">
      <navbar-link
        *ngFor="let link of NAVIGATION.links"
        [link]="link.href"
        [isActive]="link.isActive"
        type="navbar"
        (click)="handleLinkClick()"
      >
        {{ link.text }}
      </navbar-link>
    </div>
  </div>
  <div class="navbar-section">
    <div class="navbar-links" style="justify-content: flex-end">
      <a
        *ngFor="let button of NAVIGATION.buttons"
        class="bb-btn {{ button.colorClass }}"
        style="font-size: calc(20px + 0.25vw); line-height: 1.5"
        routerLink="{{ button.href }}"
        (click)="handleLinkClick()"
      >
        {{ button.text }}
      </a>
    </div>
    <div>
      <i (click)="handleMenuClick('on')" class="fas fa-bars menu-bars"></i>
    </div>
  </div>
  <div id="navbar-dropdown" class="navbar-dropdown">
    <div>
      <div class="dropdown-links-wrapper">
        <div>
          <div class="dropdown-links">
            <navbar-link
              *ngFor="let link of NAVIGATION.links"
              [link]="link.href"
              [isActive]="link.isActive"
              type="dropdown"
              (click)="handleLinkClick()"
            >
              {{ link.text }}
            </navbar-link>
          </div>
        </div>
      </div>
      <i (click)="handleMenuClick('off')" class="fas fa-times menu-times"></i>
    </div>
  </div>
</nav>
